parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined static property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$linkPickerTitleField\\.$#"
			count: 1
			path: src/Forms/Components/LinkPickerInput.php
